
.overlapping h1 {
  margin-bottom: 1.2rem; }

.overlapping ul {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 3fr 6fr;
}

.overlapping h1 {
  grid-column: 4 / span 2;
  text-align: right;
  padding-right: 1rem;
  margin-top: 1rem;
  font-size: 300%;
  font-weight: normal;
}

.overlapping li.trumpet {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  
}

.overlapping li.face {
  grid-row: 2 / span 4;
  grid-column: 2 / span 3; 
  z-index: 2; 
}

.overlapping li.poster {
  grid-row: 4 / span 3;
  grid-column: 4 / span 2;
  z-index: 2; 
}

.overlapping li:nth-child(5) {
  grid-row: 5 / span 2;
  grid-column: 1 / span 2;
}

.overlapping img {
    display: block;
    width: 100%;
}